* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: rgb(118, 180, 255);
    height: 80px;
    position: relative;
}

.headercontered img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
}

.headerright a {
    float: right;
    position: static;
    margin-right: 25px;
    margin-top: 32px;
    color: wheat;
}

header .icon {
    display: none;
}

.center {
    text-align: center;
}


nav {
    position: relative;
    text-align: center;
    height: 40px;
}

.dropbar {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;

}

.dropbar a {
    display: inline-block;
    text-decoration: none;
    color: midnightblue;
    position: relative;
    margin-top: 6px;
}

.dropbar .dropdown {
    min-width: 150px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: antiquewhite;
    padding: 10px 10px;
}

.dropdown a {
    display: block;
    position: relative;
    padding: 10px 10px;
    margin-top: -3px;
}

.dropbar:hover .dropdown {
    display: block;
}


@media screen and (max-width: 780px) {
    nav {
        display: none;
    }
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: black;
}

.offcanvas-body ul li {
    margin: 8px;
}

.off-dropbar li {
    list-style: none;
}


.off-dropbar a:hover ul {
    display: block;
}

.search input {
    color: rgb(58, 121, 198);
    border: 0px;
    border-bottom: 1px solid rgb(58, 121, 198);
}

.search i {
    color: rgb(58, 121, 198);

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 780px) {
    header a.icon {
        position: relative;
        top: 32px;
        left: 25px;
        display: block;
        color: wheat;
    }

    .headerright a {
        float: right;
        position: static;
        margin-right: 25px;
        margin-top: 16px;
        color: wheat;
    }

}

@media screen and (max-width: 780px) {
    .headerright .search {
        display: none;
    }
}

footer {
    margin-top: auto;
    width: 100%;
    height: 80px;
    background-color: rgb(118, 180, 255);
}

.row .products {
    width: 25%;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.products img {
    width: 100%;

}

.products p {
    text-align: center;
}

@media screen and (max-width: 780px) {
    .row {
        padding: 50px;
    }

    .row .products {
        width: 50%;
    }

}