body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(190, 226, 240);
    height: 80px;
    position: relative;
}

@media screen and (max-width: 768px) {
    header {
        background-color: rgb(190, 226, 240);
        height: 60px;
        position: relative;
    }

    header .center img {
        position: absolute;
        height: 40px;
        top: 10px;
    }

    header .lefticon {
        display: block;
        position: absolute;
        top: 18px;
        left: 25px;
    }

    header .righticon {
        position: absolute;
        top: 18px;
        right: 25px;
    }

}

footer {
    margin-top: auto;
    height: 70px;
    background-color: rgb(190, 226, 240);
}

footer a {
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    position: absolute;
    height: 60px;
    top: 10px;
}

.lefticon {
    display: none;
    position: absolute;
    top: 29px;
    left: 25px;
}

.righticon {
    position: absolute;
    top: 29px;
    right: 25px;
}

.righticon a {
    color: black;
}

/* navbar */
nav {
    position: relative;

}

nav a {
    float: left;
    text-decoration: none;
    width: 160px;
    text-align: center;
    color: black;
    padding: 5px;
}

nav a:hover {
    color: black;
}

.dropdown {
    float: left;
    text-align: center;

}

.dropdown button {
    border: none;
    width: 160px;
    background: none;
    padding: 5px;
}

.dropdown button:hover {
    color: black;
}

.dropbtn {
    text-align: center;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    float: none;
    display: block;
    padding: 8px;
}

.dropdown-content a:hover {
    background-color: #c4d9eb9f;
    color: black;
    border: none;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

}

.floatcenter {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}

.floatcenter>.child {
    position: relative;
    left: 50%;
}



.offcanvas a {
    display: block;
    text-decoration: none;
    margin: 0px 0px 2px 0px;
    padding: 4px 4px 4px 20px;
    background-color: rgb(137, 140, 140);
    color: aliceblue;
}

.headwords,
.subwords {
    text-decoration: none;
    font-size: 14px;
}

/* login.html */
.login {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    border-radius: 10px;
    padding: 20px 10px 30px 10px;
}


.row {
    padding: 20px;
}

.col input,
.btn {
    background-color: #f2f2f2;
    position: inherit;
    width: 40%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover,
.btn:hover {
    opacity: 1;
}

.col {
    text-align: center;
}

.col .fb {
    background-color: #3B5998;
    color: white;
    width: 30%;
}


.col .google {
    background-color: #dd4b39;
    color: white;
    width: 30%;
}

input[type=submit] {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    width: 25%;
}

.col a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #535353;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .login {
        margin: 0px;
    }

    .col .fb,
    .col .google {
        width: 80%;
    }

    .col input,
    .btn {
        width: 80%;
    }
}

/* all.html */
.title {
    text-align: center;
    padding: 20px;
}

.title h1 {
    font-size: 24px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 將商品框框水平置中 */
    align-items: center;
    /* 將商品框框垂直置中 */
    padding: 20px;
}

.product {
    flex-basis: calc(25% - 20px);
    text-align: center;
    /* background-color: thistle; */
    margin: 4px;
    margin-bottom: 16px;
}

.product img {
    width: 90%;
}

.product h2 {
    font-size: 16px;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
}

.product a {
    text-decoration: none;
}

.product a p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 4px;
    color: #777676;
}

.add-to-cart {
    background-color: #333;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .product {
        flex-basis: calc(50% - 20px);
    }
}

/* producys.html */
/* Breadcrumb Pagination */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.slides {
    float: left;
    position: relative;
    width: 50%;
    padding: 0 5%;
}

.details {
    float: left;
    width: 50%;
    padding: 0 5%;
}

.producsthead::after {
    content: "";
    display: table;
    clear: both;
}

.mySlides {
    display: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    border: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    margin-top: -60px;
}

.next {
    position: absolute;
    right: 70px;
    border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
    color: rgb(219, 220, 222);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .slides {
        width: 100%;
    }

    .details {
        width: 100%;
    }
}

.details h1 {
    font-size: 24px;

}

.details hr {
    margin: 0;

}

.select {
    font-size: 14px;
}

select {
    width: 80%;
    height: 30px;
    padding: 2px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.contect,
.info {
    padding: 10px;
}

.contect .size,
.contect .color {
    margin-bottom: 20px;
}

.contect .size label,
.contect .color label {
    margin: 10px;
}

.productimg {
    width: 100%;
    padding: 5%;
    text-align: center;
    background-color: rgba(143, 143, 143, 0.1);
}

.productimg img {
    width: 100%;
    padding: 10px;
}